.header {
    background-color: rgb(9, 9, 105);
    height:150px;
    
}

h1 {
    color: white;
    margin: 0;
    padding-top: 40px;
    text-align: center;
}

p {
    color: white;
    margin: 0;
    text-align: center;
}